/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
body{
    border:2px black solid;
    border-radius:15px;
    text-align:center;
    font-family: 'Dancing Script', cursive;
background: #FFFFFF;
    margin: 0px;
 padding: 0px;

 position: relative;
width: 720px;
height: 1080px;

background: #FFFFFF;
}
.herosection{
  margin: 0px;
  padding: 0px; 
   background-color:lightblue;
font-size: 20px;
   
position: absolute;
width: 720px;
height: 343px;
left: 0px;
top: 0px;
}

.herosection:hover{
    background-image: url("./images/India.jpg");
    background-size: cover;
    color:black;
    text-shadow: 0px 0px 1px red;   
    margin: 0px;
  padding: 0px;
  display: block;
    
}
    .textback{
   background-color:darkgrey;
    width:200px;
    height:50px;
 margin-left:auto;
 margin-right: auto;
 padding:10px 10px;

}
img {
    width: 100px;
    border-radius: 50%;
    border:1px solid black;
    height:110px;
    display: flex;
    justify-content: space-evenly;
    margin: 2px;
    
    
}
.activitiessection{
padding: 0px;
background-image: url("https://images.unsplash.com/photo-1600093112291-7b553e3fcb82?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzB8fGluZGlhfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
background-size: cover;
margin:0px;
position: absolute;
width: 720px;
height: 343px;
left: 0px;
top: 343px;

background: #F1FAEE;
}
.sub{
    display: flex;
    justify-content: space-around;
    align-items: center;    
} 
.subhead{
    font-family:cursive;
    font-size:30px;
    margin-top:0px;
    padding-top:10px;
}
.item{
    margin-left:10px;
    margin-right:10px;
 border:1px solid black;
}
h2{
    font-size:20px;
     text-shadow:1px 1px 2px white;
     text-align: left;
}
.item-history:hover{
 
  background-image: url("https://media.giphy.com/media/XYleemx9xYym4Lh5KA/giphy.gif") ;
background-size: cover;
}

.item-culture:hover{
  
     background-size: cover;
  
    background-image: url("https://media.giphy.com/media/rBU2GiAZaf5ZlEzk2S/giphy.gif")
}

.item-food:hover{
  
      border:1px solid black;
   
    background-image: url("https://media.giphy.com/media/3oeSANlR56jz1tEPao/giphy.gif")
}

.last{
    position: absolute;
width: 720px;
height: 394px;
left: 0px;
top: 686px;

background: #FFFFFF;
}
.guide{
    position: absolute;
width: 400px;
height: 294px;
left: 160px;
top: 50px;
box-shadow: 0px 6px 0px #1D3557;
border-radius: 10px;
   

    text-align: center;
    margin-top:20px;
    margin-left:auto;
    margin-right: auto;
 background-image: url("https://media.istockphoto.com/photos/namaste-picture-id1359504186?b=1&k=20&m=1359504186&s=170667a&w=0&h=RbqhhU5kdOErtbDdAGU_hYScczKi1aIPAQegrz4ZVYQ=");
background-size: cover;
height: 200px;
text-shadow: 2px 2px 5px white;
border:4px solid black;
border-radius:10px;
} 
